body {
    font-family: Helvetica, Arial, sans-serif;
    background-color: #DFDFDF;
    margin: 0;
}

.container {
    margin-bottom: 2.5rem;
}
   
h1 {
    text-align: center;
}

.card-deck {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
}

.card {
    border-radius: 4px;
    background-color: #FFFFF0;
    margin: .5rem;
    min-width: 250px;
    max-width: 20vw;
    flex: 1 1 auto;
    transition: all 250ms ease-in;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.375);
}

.card:hover {
    transform: scale(1.02);
    box-shadow: 25px 25px 40px rgba(0, 0, 0, .5);
    transition: all 500ms ease-out;
}

.card-img-top {
    max-width:100%;
    box-sizing: border-box;
    padding: 0.25rem;
}

 .news-timeStamp {
    background-color: black;
    font-size: 12px;
    color: white;
    padding: .1rem 1rem;
    max-width: 100%;
}

.card-title {
    font-weight: bold;
    padding: .95rem .5rem 0 .75rem;
    height: 2rem;
    display: flex;
    align-items: center;
}

.card-text{
    padding: 0 .75rem;
    height: 25vh;
}

.btn-primary {
    color: white;
    background-color: #008CBA;
    display: block;
    box-sizing: border-box;
    max-width: 10rem;
    height: 2rem;
    margin: 0.75rem auto;
    padding: .5rem 0;
    text-decoration: none;
    text-align: center;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, .15);
}

@media (min-width: 600px) {
    .card-deck {
        margin: 0;
    }
}

@media (max-height: 600px) {
    .card-text{
        height: 28vh;
    }
}

@media (min-height: 800px) {
    .card-text{
        height: 20vh;
    }
}